html,
body {
  height: 500px;
  width: 400px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
}

.mainBody {
  margin-bottom: 70px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  color: #2B303A;
}

.emptyCartImg {
  height: 100%;
  width: 150px
}

.emptyCart h1 {
  width: 200px;
}

.emptyCart p {
  width: 200px;
  font-size: 14px;
}

.form-login,
.form-signup {
  width: 340px;
  /* margin: 60px auto 30px; */
  margin: 20px auto 20px;
  padding: 5px;
  position: relative;
  background: #fffaf6;
  border-radius: 4px;
  color: #7e7975;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 12px rgba(255, 255, 255, 0.4);
}

.form-login h1,
.form-signup h1 {
  font-size: 15px;
  font-weight: bold;
  color: #bdb5aa;
  padding-bottom: 8px;
  border-bottom: 1px solid #ebe6e2;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.form-login h1 .log-in {
  display: inline-block;
  text-transform: uppercase;
  color: #6c6763;
  padding-right: 2px;
}

.form-signup h1 .sign-up {
  display: inline-block;
  text-transform: uppercase;
  color: #6c6763;
  padding-right: 2px;
}

.form-login .float {
  width: 50%;
  /* float: left; */
  padding-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.form-signup .float {
  width: 50%;
  /* padding-top: 15px; */
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.form-login .float:first-of-type {
  padding-right: 5px;
}

.form-signup .float:first-of-type {
  padding-right: 5px;
}

.form-login .float:last-of-type {
  padding-left: 5px;
}

.form-signup .float:last-of-type {
  padding-left: 5px;
}

.form-login label {
  display: block;
  padding: 0 0 5px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-size: 11px;
}

.form-login label i {
  margin-right: 5px;
  display: inline-block;
  width: 10px;
}
.form-signup label {
  display: block;
  padding: 0 0 5px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-size: 11px;
}

.form-login input[type="text"],
.form-login input[type="password"] {
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 3px solid #ebe6e2;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.form-signup input[type="text"],
.form-signup input[type="password"] {
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 3px solid #ebe6e2;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
.form-login input[type="text"]:hover,
.form-login input[type="password"]:hover {
  border-color: #ccc;
}

.form-login label:hover ~ input {
  border-color: #ccc;
}

.form-login input[type="text"]:focus,
.form-login input[type="password"]:focus {
  border-color: #bbb;
  outline: none;
}

.form-signup input[type="text"]:focus,
.form-signup input[type="password"]:focus {
  border-color: #bbb;
  outline: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.form-login button {
  width: 100%;
  height: 38px;
  float: left;
  position: relative;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 14px;
  line-height: 38px; /* Same as height */
  text-align: center;
  font-weight: bold;
  margin-left: 1%;
  background: linear-gradient(#d64933, #d64933);
  border: 1px solid #d64933;
  color: black;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.form-signup button {
  width: 100%;
  height: 38px;
  float: left;
  position: relative;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 14px;
  line-height: 38px; /* Same as height */
  text-align: center;
  font-weight: bold;
  margin-left: 1%;
  background: linear-gradient(#d64933, #ffb347);
  border: 1px solid #d64933;
  color: black;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.App-header {
  background-color: #d64933;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.stores,
.shops-title {
  text-align: center;
  font-weight: bold;
}
.nobull {
  list-style-type: none;
}

/* Alt Cart Styling */

.altProd {
  display: flex;
}

.thumbnail {
  width: 100px;
  height: 100px;
  padding: 15px;
}

.leftCol {
  padding: 15px;
}

.prodTitle {
  font-size: 16px;
}

.loading {
  text-align: center;
  font-size: 20px;
}

/*HOME*/

.message {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.welcome {
  color: #2b303a;
  border-radius: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 100px;
  left: 50px;
  width: 100%;

  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  font-size: large;
  font-family: Roboto;
  text-align: center;
}

h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.welcomeP {
  /* position: absolute; */
  font-size: medium;
  top: 100px;
  left: 50;
  width: 100%;
}
.welcomeinfo {
  line-height: 1.3em;
  position: absolute;
  font-size: 14px;
  top: 325px;
  left: 0;
  width: 80%;
  height: 500px;
  padding-left: 35px;
  text-align: justify;
overflow: visible;
}
.welcomeinfo span {
  font-weight: bold;
}

.cartimg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin-top: 65px;
  overflow: scroll;
}

.ratingexpl {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.ratingexpl span {
  font-weight: bold;
}

.ratingbody {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0c7c59;
}

.ratingnum {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: right;
}

.ratingnum span {
  font-size: 40px;
  padding-left: 10px;
}

.ratingemoji {
  max-height: 150px;
  margin-top: -10px;
  margin-bottom: -10px;

  /* align-self: flex-end; */
}

/*GENERAL HEADER*/
.header {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  font-weight: bold;
}

.header p {
  font-size: 12px;
  font-weight: normal;
}

.rating {
  border: 3px;
  margin: 5px;
  background-color: #ffb347;
  padding-top: 5px;
}

.stores {
  text-align: center;
  font-size: 16px;
}

.shops-title {
  text-align: center;
}

.nobull {
  text-align: center;
}
.signupLink {
  text-align: center;
}

.alt {
  display: flex;
  padding: 20px;
  margin: 4px;
  font-family: Roboto;
  flex-direction: column;
}

.shops-title {
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  font-size: large;
  font-family: Roboto;
  text-align: center;
}

.Articles {
  display: flex;
  padding: 20px;
  margin: 4px;
  font-family: Roboto;
  flex-direction: column;
  margin-bottom: 70px;
}

.Articles-CompanyName {
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  font-size: large;
  font-family: Roboto;
  text-align: center;
}

.single-article {
  justify-content: left;
}

.headlines {
  text-align: center
}

.article-link {
  font-family: Roboto;
  color: black;
  font-size: small;
}

.artListItem {
  margin-right: 20px
}

.outlet {
  font-family: Roboto;
  font-size: smaller;
}

.Profile {
  display: flex;
  padding: 20px;
  margin: 4px;
  font-family: Roboto;
  flex-direction: column;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.category {
  width: 100px;
  height: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 10px;
  border: 1px solid #f7ffe0;
  background-color: #ffeee2;
  text-align: center;
  text-decoration: none;
  color: #2b303a;
  border-radius: 25px;
}

.storeLink {
  margin: 40px;
}

.logout {
  margin-top: 10px;
  margin-bottom: 60px;
}

.mainStore {
  display: flex;
  padding: 0px 4px;
  flex-wrap: wrap;
  margin-top: 12px;
  flex-direction: row;
  justify-content: space-around;
}


.store-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 160px;
  border: 1px solid #d64933;
  cursor: pointer;
  height: 200px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.03);
  transition: box-shadow .25s ease;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.logoContainer {
  /* height: 116px;
  width: 110px; */
  display: flex;
  align-items: left;
  justify-content: center;

}

.store-item{
  margin-bottom: 10px;
}
/* img {max-width:100%;} */
.loaderDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.loaderHolder {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loader {
  display: flex;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mainNav {
  flex-grow: 2;
}

