html,
body {
  height: 500px;
  width: 400px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
}
.form-login,
.form-signup {
  width: 340px;
  /* margin: 60px auto 30px; */
  margin: 20px auto 20px;
  padding: 5px;
  position: relative;
  background: #fffaf6;
  border-radius: 4px;
  color: #7e7975;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 12px rgba(255, 255, 255, 0.4);
}

.form-login h1,
.form-signup h1 {
  font-size: 15px;
  font-weight: bold;
  color: #bdb5aa;
  padding-bottom: 8px;
  border-bottom: 1px solid #ebe6e2;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.form-login h1 .log-in {
  display: inline-block;
  text-transform: uppercase;
  color: #6c6763;
  padding-right: 2px;
}

.form-signup h1 .sign-up {
  display: inline-block;
  text-transform: uppercase;
  color: #6c6763;
  padding-right: 2px;
}

.form-login .float {
  width: 50%;
  /* float: left; */
  padding-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.form-signup .float {
  width: 50%;
  /* padding-top: 15px; */
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.form-login .float:first-of-type {
  padding-right: 5px;
}

.form-signup .float:first-of-type {
  padding-right: 5px;
}

.form-login .float:last-of-type {
  padding-left: 5px;
}

.form-signup .float:last-of-type {
  padding-left: 5px;
}

.form-login label {
  display: block;
  padding: 0 0 5px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-size: 11px;
}

.form-login label i {
  margin-right: 5px;
  display: inline-block;
  width: 10px;
}
.form-signup label {
  display: block;
  padding: 0 0 5px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-size: 11px;
}

.form-login input[type="text"],
.form-login input[type="password"] {
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 3px solid #ebe6e2;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.form-signup input[type="text"],
.form-signup input[type="password"] {
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 3px solid #ebe6e2;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
.form-login input[type="text"]:hover,
.form-login input[type="password"]:hover {
  border-color: #ccc;
}

.form-login label:hover ~ input {
  border-color: #ccc;
}

.form-login input[type="text"]:focus,
.form-login input[type="password"]:focus {
  border-color: #bbb;
  outline: none;
}

.form-signup input[type="text"]:focus,
.form-signup input[type="password"]:focus {
  border-color: #bbb;
  outline: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.form-login button {
  width: 100%;
  height: 38px;
  float: left;
  position: relative;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 14px;
  line-height: 38px; /* Same as height */
  text-align: center;
  font-weight: bold;
  margin-left: 1%;
  background: linear-gradient(#d64933, #d64933);
  border: 1px solid #d64933;
  color: black;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.form-signup button {
  width: 100%;
  height: 38px;
  float: left;
  position: relative;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 14px;
  line-height: 38px; /* Same as height */
  text-align: center;
  font-weight: bold;
  margin-left: 1%;
  background: linear-gradient(#d64933, #ffb347);
  border: 1px solid #d64933;
  color: black;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.App-header {
  background-color: #d64933;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

/* .Stores {

} */
.nobull {
  list-style-type: none;
}

/* Alt Cart Styling */

.altProd {
  display: flex;
}

.thumbnail {
  width: 100px;
  height: 100px;
  padding: 15px;
}

.leftCol {
  padding: 15px;
}

.prodTitle {
  font-size: 16px;
}

.loading {
  text-align: center;
  font-size: 20px;
}

/*HOME*/

.welcome {
  color: #2b303a;
  border-radius: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.message {
  margin-left: auto;
  margin-right: auto;
}

h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.welcome {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

.cartimg {
  max-width: 100%;
  height: auto;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.header {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.rating {
  border: 3px;
  margin: 5px;
  background-color: #ffb347;
  padding-top: 5px;
}

.stores {
  text-align: center;
  font-size: 16px;
}

.shops-title {
  text-align: center;
}

.nobull {
  text-align: center;
}

.alt {
  display: flex;
  padding: 20px;
  margin: 4px;
  font-family: Roboto;
  flex-direction: column;
}

.shops-title {
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  font-size: large;
  font-family: Roboto;
  text-align: center;
}

.Articles {
  display: flex;
  padding: 20px;
  margin: 4px;
  font-family: Roboto;
  flex-direction: column;
}

.Articles-CompanyName {
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  font-size: large;
  font-family: Roboto;
  text-align: center;
}

.single-article {
  justify-content: left;
}

.headlines {
  text-align: center;
}

.article-link {
  font-family: Roboto;
  color: blue;
  font-size: medium;
}

.outlet {
  font-family: Roboto;
  font-size: smaller;
}

.Profile {
  display: flex;
  padding: 20px;
  margin: 4px;
  font-family: Roboto;
  flex-direction: column;
}

.welcome {
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  font-size: large;
  font-family: Roboto;
  text-align: center;
}

.message {
  display: flex;
  padding: 20px;
  margin: 4px;
  font-family: Roboto;
  flex-direction: column;
}
